[submodule "vibrant"]
	path = vibrant
	url = git@github.com:indenizou/vibrant.git
	branch = master
[submodule "api"]
	path = api
	url = git@github.com:indenizou/api.git
	branch = master
[submodule "dashboard"]
	path = dashboard
	url = git@github.com:indenizou/dashboard.git
	branch = master
